/* 头部固定导航 */
.headtitle{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
/* 左边logo1 */
.headtitle>.logo1{
    width: 89px;
    height: 60px;
    background: url("../imgs/logo1.png") no-repeat;
    background-position: 0 20px;
    margin-left: 25px;
}
/* 中间导航 */
.headtitle>.title{
    width: 50%;
    /* background: red; */
    height: 60px;
    margin-left: 430px;
}
.headtitle>.title>a{
    font-size: 15.5px;
    font-style: italic;
    font-weight: bold;
    color: #838383;
    line-height: 60px;
    margin-right: 40px;
}
.headtitle>.title>a:nth-child(5){
    color: #ab192d;
}
.headtitle>.title>a:hover{
    color: #ab192d;
}
/* 右边logo */
.headtitle>.logo2{
    width: 86px;
    height: 60px;
    background: url("../imgs/logo2.png") no-repeat;
    background-position: 0 15px;
    margin-right: 25px;
}
/* 中间身体盒子 */
.bodybox>.bodybox1{
    width: 100%;
    height: 881px;
    background: url("../imgs/1.bmp");
    background-size: 100%;
}
/* 文字内容 */
.bodybox2{
    width: 100%;
    height: 1400px;
    background: url("../imgs/2.bmp");
    padding-top: 100px;
}
.bodybox2>p{
    color: #c2c2c2;
    font-size: 17px;
    line-height: 32px;
    text-align: center;
}
.bodybox2>p>span{
    font-weight: bold;
}
.bodybox2>p:first-child{
    color: #fff;
    font-size: 54px;
    font-weight: bold;
    font-style: italic;
}
.bodybox2>p:nth-child(2){
    margin-top: 60px;
}
.bodybox2>p:nth-child(3){
    margin-bottom: 20px;
}
.bodybox2>p:nth-child(9){
    color: #fff;
    font-size: 54px;
    font-weight: bold;
    margin: 100px 0 60px 0;
    font-style: italic;

}
.bodybox2>.track{
    position: relative;
    top: 40px;
    left: 615px;
}
/* 页脚 */
.footer{
    width: 100%;
    height: 80px;
    background-color: #030303;
    position: relative;
}
.footer a{
    font-size: 15.5px;
    line-height: 80px;
    margin-right: 25px;
    color: #888b85;
}
.footer>a:first-child{
    margin-left: 80px;
}
.footer>div{
    width: 165px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 28px;
}