.imgBox1{
    width: 100%;
    height: 781px;
    background: url("../imgs/GT3-1.jpg") no-repeat;
    background-size: 100%;
}
.imgBox2{
    width: 100%;
    height: 739px;
    background: url("../imgs/GT3-2.jpg") no-repeat;
    background-size: 100%;
}
.imgBox3{
    width: 100%;
    height: 871px;
    background: url("../imgs/GT3-3.jpg") no-repeat;
    background-size: 100%;
}
.imgBox4{
    width: 100%;
    height: 785px;
    background: url("../imgs/GT3-4.jpg") no-repeat;
    background-size: 100%;
}
.imgBox5{
    width: 100%;
    height: 924px;
    background: url("../imgs/GT3-5.jpg") no-repeat;
    background-size: 100%;
}
.imgBox6{
    width: 100%;
    height: 436px;
    background: url("../imgs/GT3-6.jpg") no-repeat;
    background-size: 100%;
}
.imgBox7{
    width: 100%;
    height: 783px;
    background: url("../imgs/GT3-24.jpg") no-repeat;
    background-size: 100%;
}
.imgBox8{
    width: 100%;
    height: 860px;
    background: url("../imgs/GT3-25.jpg") no-repeat;
    background-size: 100%;
}